{% extends "layouts/base.html" %}
{% set title =  title %}
{% set pageId = "analysis" %}

{% block content %}

  <header>
    {% include "components/landmarks/nav.html" %}
    <div class="wrapper-md">
      <h1>AI for Qualitative Analysis</h1>
    </div>
  </header>

  <main>
    <div class="wrapper-md">
      <p>
       These are ideas for using AI in your qualitative research analysis process.
      </p>

      <p>
        This isn’t a step-by-step or a how-to in the traditional sense. This is what has worked for me, and also what I’m experimenting with.
      </p>

      <div class="col">
        <div class="cols-1fr-1fr">

          <div class="col">

            <h2>Researcher's role</h2>
            <ul>
              <li>Prioritizing based on relevance. </li>
              <li>Understanding user needs and emotions. </li>
              <li>Understanding business impact. </li>
              <li>Awareness of biases at a human level.</li>
              <li>Focused coding of data.</li>
            </ul>


          </div>

          <div class="col">

            <h2>AI tasks</h2>

              <ul>
                <li>Speed up data-familiarization. </li>
                <li>Identify potential gaps the evidence used. </li>
                <li>Help anticipate stakeholder questions. </li>
                <li>Provide alternatives ways for looking at data.</li>
            </ul>

          </div>

        </div>
      </div>

      <h2> Explore the Process</h2>
      <p class="note">
        <span class="label note">Note:</span>
        “Phases” help me categorize the information. Every researcher has their own process, and UXR isn’t linear. Take what works for you and leave the rest.
      </p>

      {% include "components/analysis/analysis-post-list.html" %}
      
    </div>
  </main>

{% endblock %}