{% extends "layouts/base.html" %}
{% set title = "Home" %}
{% set pageId = "analysis" %}

{% block content %}

  <header>
    {% include "components/landmarks/nav.html" %}
    <div class="wrapper-md">
      <h1 class="sr-only">UXR AI Experiments</h1>
      <p>Capturing thoughts how to use AI for the research process</p>
    </div>
  </header>

  <main>
    <div class="wrapper-md">
      <h2>
      Recent Thoughts
      </h2>
      

      <p>
        <a href="{{ '/analysis' | url }}">hello</a>
      </p>

  
    </div>
  </main>

{% endblock %}