{% extends "layouts/base.html" %}
{% set title = "Home" %}
{% set pageId = "home" %}

{% block content %}

  <header>
    {% include "components/landmarks/nav.html" %}

    {%include "components/home/banner.html"%}

  </header>

  <main>
    <div class="wrapper-lg">
      <h2>
      Recent Thoughts
      </h2>
      

    
      <h3><a href="{{ '/analysis' | url }}">AI for Qualitative Analysis</a></h3>
    
      {%include "components/home/analysis-list-home.html"%}
       

  
    </div>
  </main>

{% endblock %}