<ul>
    {# get the most recent post in the blog collection #}
    {% for i in range(0, 6) %}

        {% set post = collections.analysis[i] %}
        {% if post %}
        {% set postUrl = "." + post.url + "index.html" %}
            <li>
                <a href="{{ postUrl }}">
                    {{post.data.title}}
                </a> - <span class="u-small"><span class="label"> Last updated: </span> {{ post.data.date | formatDate }}</span>
            </li>
        {% endif %}

    {% endfor %}
</ul>